<!DOCTYPE HTML>

<html>
	<head>
		<title>My Meal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">
			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo">Start your path to</a><h1> 
								<Br> <h1>healthy eating today!</a></h1>
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="index.html"><span>Home</span></a></li>
									<li><a href="right-sidebar.html"><span>About Us</span></a></li>
									</ul>
							</nav>
					</div>
				</div>
<!-- Main -->
<body>
<br></br>
<form action="/profile" method="POST" class="form-horizontal">
  <label for="inputFirstName" class="col-md-3 control-label">Name </label>
    <input type="text" name="name" required><br></br>
<!--
    <div class="6u 12u(mobile)">
		<input name="name" placeholder="Name" type="text" required/>
	</div>

<div class="row">
						<div class="6u 12u(mobile)">
								<section>
									<form method="post" action="#">
										<div class="row 50%">
											<div class="6u 12u(mobile)">
												<input name="name" placeholder="Name" type="text" />
											</div>
											<div class="6u 12u(mobile)">
												<input name="email" placeholder="Email" type="text" />
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<textarea name="message" placeholder="Message"></textarea>
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<a href="#" class="form-button-submit button icon fa-envelope">Send Message</a>
											</div>
										</div>
									</form>
								</section>
							</div> -->

  <label for="inputUser" class="col-md-3 control-label">Height </label>
    <input type="text" name="height" type="number" required><br></br>
  <label for="inputUser" class="col-md-3 control-label">Weight </label>
    <input type="text" name="weight" type="number" required><br></br>
  <label for="inputUser" class="col-md-3 control-label">Age </label>
    <input type="text" name="age" type="number" required><br></br>
  <label for="inputUser" class="col-md-3 control-label">Activity Level </label>
    <select>
        <option name="0" value="Sedentary">Sedentary (no activity) </option>
        <option name="1" value="Moderate">Moderate (1-2 times a week) </option>
        <option name="2" value="Average">Average (3 times a week) </option>
        <option name="3" value="Above Average">Above Average (4-5 times a week) </option>
        <option name="4" value="Very Athletic">Very Athletic (almost every day) </option>
    </select><br></br>
  <label for="inputExpertise" class="col-md-3 control-label">Cooking Expertise: </label>
    <select>
        <option name="1" value="Beginner">Beginner </option>
        <option name="2" value="Moderate">Moderate </option>
        <option name="3" value="Advanced">Advanced </option>
    </select><br></br>
  <label for="inputGender" class="col-md-3 control-label">Gender: </label>
    <INPUT TYPE="radio" name="gender" value="female"> Female
    <INPUT TYPE="radio" name="gender" value="male"> Male
    <INPUT TYPE="radio" name="gender" value="other"> Other <br></br>
  <label for="inputvegan" class="col-md-3 control-label">Vegan </label>
    <INPUT TYPE="radio" name="vegan" value="yes"> Yes
    <INPUT TYPE="radio" name="vegan" value="no"> No<br></br>
  <label for="inputveg" class="col-md-3 control-label">Vegetarian </label>
    <INPUT TYPE="radio" name="vegetarian" value="yes"> Yes
    <INPUT TYPE="radio" name="vegetarian" value="no"> No<br></br>
  <label for="inputlac" class="col-md-3 control-label">Lactose Intolerant </label>
    <INPUT TYPE="radio" name="lactose" value="yes"> Yes
    <INPUT TYPE="radio" name="lactose" value="no"> No<br></br>
  <label for="inputnut" class="col-md-3 control-label">Nut Allergy </label>
    <INPUT TYPE="radio" name="nuts" value="yes"> Yes
    <INPUT TYPE="radio" name="nuts" value="no"> No<br></br>
<input class="btn btn-info" type="submit" value="Submit">
</form>
</body>

			<!-- Footer -->
<div id="footer-wrapper">
		<div id="footer" class="container">
				<header>
						<h2>Questions or comments? <strong>Get in touch:</strong></h2>
				</header>
						<div class="row">
							<div class="6u 12u(mobile)">
								<section>
									<form method="post" action="#">
										<div class="row 50%">
											<div class="6u 12u(mobile)">
												<input name="name" placeholder="Name" type="text" />
											</div>
											<div class="6u 12u(mobile)">
												<input name="email" placeholder="Email" type="text" />
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<textarea name="message" placeholder="Message"></textarea>
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<a href="#" class="form-button-submit button icon fa-envelope">Send Message</a>
											</div>
										</div>
									</form>
								</section>
							</div>
							<div class="6u 12u(mobile)">
								<section>
									<p>We would love to hear your thoughts, ideas, and suggestions! We're always looking for ways to improve. Thank you!</p>
									<div class="row">
										<div class="6u 12u(mobile)">
											<ul class="icons">
												<li class="icon fa-home">
													1234 Somewhere Road<br />
													Nashville, TN 00000<br />
													USA
												</li>
												<li class="icon fa-phone">
													(000) 000-0000
												</li>
												<li class="icon fa-envelope">
													<a href="#">info@untitled.tld</a>
												</li>
											</ul>
										</div>
										<div class="6u 12u(mobile)">
											<ul class="icons">
												<li class="icon fa-twitter">
													<a href="#">@untitled-tld</a>
												</li>
												<li class="icon fa-instagram">
													<a href="#">instagram.com/untitled-tld</a>
												</li>
												<li class="icon fa-dribbble">
													<a href="#">dribbble.com/untitled-tld</a>
												</li>
												<li class="icon fa-facebook">
													<a href="#">facebook.com/untitled-tld</a>
												</li>
											</ul>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					<div id="copyright" class="container">
						<ul class="links">
							<li>&copy; Untitled. All rights reserved.</li>
						</ul>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
